body {
    background-color: rgb(245, 255, 228);
    color: rgb(3, 29, 68);
    text-decoration: none;
}
h1 {
    font-family: 'Bungee Shad e', 'cursiva';
    color: rgb(36, 49, 25);
}
.fonteOpenSans {
    font-family: 'Open Sans Condensed', sans-serif;
}
.tamanhoMaior {
    font-size: 30px;
}
.tamanhoMenor {
    font-size: 20px;
}
strong {
    color: rgb(47, 151, 193);
    font-weight: 600;
}
img {
    border-radius: 10%;
}
.head {
    min-width: 350px;
    padding: 35px;  
}
.nome_box {
    text-align: center;
}
.foto_box {
    float: left;
    padding: 20px;
    margin-left: 150px;
    background-color: rgb(169, 229, 187);
    vertical-align: middle;
}
.descricao_box {
    text-align: justify;
    margin-left: 450px;
    padding-left: 10px;
    padding-top: 10px;
    width: 600px;
}
.footer {
    clear: both;
    margin-top: 50px;
    margin-left: 250px;
    text-align: center;
}
