body {
    background-color: rgb(245, 255, 228);
    color: rgb(3, 29, 68);    
}
h1 {
    font-family: 'Bungee Shad e', 'cursiva';
    color: rgb(36, 49, 25);
}
.fonteOpenSans {
    font-family: 'Open Sans Condensed', sans-serif;
}
.tamanhoMaior {
    font-size: 30px;
}
.tamanhoMenor {
    font-size: 20px;
}
strong {
    color: rgb(47, 151, 193);
    font-weight: 600;
}
img {
    border-radius: 10%;
}
.head {
    min-width: 350px;
    padding: 35px;  
}
.nome_box {
    text-align: center;
}
.foto_esquerda img{
    float: left;
    padding: 20px;
    margin-left: 150px;
    background-color: rgb(88, 77, 61);
    margin-bottom: 20px;
    width: 180px;
   
}
.foto_direita img{
    float: right;
    padding: 10px;
    margin-right: 170px;
    width: 400px;
}
.descricao_box {
    text-align: justify;
    margin-left: 450px;
    padding-left: 10px;
    padding-top: 10px;
    width: 600px;
}
.meio_pagina {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: rgb(169, 229, 187);
}
.habilidades_box {
    width: 1000px;
    margin-left: 180px;
    text-decoration: none;
}
.habilidades_box2 {
    width: 900px;
    margin-left: 180px;
    text-decoration: none;
}
.habilidades_box2 li {
    display: inline-block;
    text-decoration: none;
}
